.category-box {
	
}

.category-title {
	font-size: 20px;
	margin-bottom: 6px;
    color: #000;
}

.ant-select-tree-noline_close:after {
	-webkit-transform: rotate(270deg) scale(.59) !important;
    -ms-transform: rotate(270deg) scale(.59) !important;
    transform: rotate(270deg) scale(.59) !important;
}

.submit-box {
	text-align: right;
}

.submit-cancel-btn {
	margin-left: 20px;
}