.index-overview {
	height: 120px;
}

.index-overview-numberwrap {
	text-align: right;
	padding: 10px 20px 0 0;
}

.index-overview-number {
	text-align: right;
	font-size: 36px;
	color: #fff;
}

.index-overview-number span {
	font-size: 24px;
	margin-right: 6px;
}

.index-overview-desc {
	text-align: right;
	color: #fff;
	font-size: 16px;
}

.index-box {
	border: 1px solid #e7ecf1;
	height: 400px;
	margin-top: 20px;
	padding: 12px;
}

.index-box-title {
	font-size: 20px;
    color: #000;
}

.index-platform {
	border: 1px #108ee9 solid;
	border-left-width: 4px;
	margin-top: 20px;
	padding: 12px;
}

.index-platform-title {
	font-size: 20px;
    color: #000;
    margin-bottom: 4px;
}

.index-platform-info {
	font-size: 14px;
	line-height: 22px;
}

.index-platform-label {
	margin-right: 6px;
}