<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}-404</title>
    <link rel="icon" href="{{imagePath}}/favicon.ico" mce_href="{{imagePath}}/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div>404 hbs</div>
  </body>
</html>